*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montaga', serif;
}

body{
  min-height: 100vh;
  min-width: 100%;
  border: 2px red solid;
  background: linear-gradient(22deg, rgba(184,187,175,1) 19%, rgba(152,152,152,1) 44%, rgba(152,159,184,1) 78%, rgba(225,231,232,1) 100%);

}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 30%;
  height: 100vh;
  border: 2px black solid;
  text-align: center;
  top: 40%;
}

.stats {
  border: 2px solid mediumpurple;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}

.books {
  padding: 10px 0 10px 0;
}
span{
  font-size: 25px;
}

i.fa-plus{
  padding: 10px;
  color: green;
}

.addBook {
  text-align: center;
  margin-top: 30px;
  width: 90%;
  height: 50px;
  font-size: 25px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.library {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  width: 70%;
}

h1{
  height: 10%;
  border: 2px gold solid;
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
  font-weight: 1000;
}

.book-container {
  border: 2px solid seagreen;
  height: 90%;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.book {
  width: 23%;
  height: 45%;
  border: 2px red solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-transform: capitalize;
}
.title {
  font-size: 20px;
  font-weight: bold;
}
.author {
  font-size: 18px;
}

.pages {
  font-size: 18px;
}

.hasRead{
  width: 60%;
  height: 15%;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
.remove {
  width: 60%;
  height: 15%;
  font-size: 1em;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(255, 62, 62);
  color: white;
}


.form {
  border: 2px solid rgb(221, 221, 221);
  width: 30%;
  margin: 5% auto;
  padding: 30px 0 0 25px;
  height: 70%;
  background-color: rgb(130, 162, 172);
  border-radius: 5px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 1;
  overflow: auto;
}

i.fa-times {
  float: right;
  padding: 0 30px 0 5px;
}

#popup-button {
  display: block;
  font-size: 20px;
  background-color: rgb(20, 49, 92);
  color: rgb(209, 205, 205);
  border: 1px solid gray;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

#popup-button:hover {
  transform: scale(1.05);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 36, 36, 0.8);
  display: none;

}
h3{
  color: rgb(20, 49, 92);
  font-size: 25px;
  font-weight: bold;
  padding-left: 50px;

}

.popup-input {
  width: 80%;
  height: 10%;
  padding: 5px;
  margin-top: 30px;
  border-radius: 20px;
  outline: none;
  font-size: 15px;
}

.checkbox{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-top: 15px;

}
#hasRead {
  padding-left: 20px;
  margin: 8px 0 0 30px;
  font-size: 210%;
}
input[type=checkbox] {
  transform: scale(1.5);
}
